@model FarulewskiKlinika.Models.Wizyta
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <img src="~/Images/img3.jpg" align="left" height="200" width="250" />
    <h5>Szczegóły Twojej wizyty @Html.DisplayFor(model => model.UserName)</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LekarzID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LekarzID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataWizyty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataWizyty)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Wizyta" asp-action="EditWizyta" class="btn btn-primary btn-sm" asp-route-id="@Model.WizytaID">Edytuj</a>
    <a asp-controller="Wizyta" asp-action="MojaWizyta" class="btn btn-outline-secondary btn-sm">Powrót</a>
    <a asp-controller="Wizyta" asp-action="WizytaPDF" class="btn btn-outline-secondary btn-sm" asp-route-id="@Model.WizytaID">Wydruk do PDF</a>
</div>
