@model FarulewskiKlinika.Models.Wizyta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wizyta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specjalizacja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specjalizacja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataWizyty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataWizyty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zalecenia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zalecenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lekarz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lekarz.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacjent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacjent.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WizytaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

