@model IEnumerable<Wizyta>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "MojaWizyta";
}

    <html>
    <head>
        <title></title>
    </head>
    <p>Dzisiaj jest: @ViewBag.TerazJest</p>
    <body>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">WizytaID </th>
                    <th scope="col">LekarzID </th>
                    <th scope="col">UserName </th>
                    <th scope="col">DataWizyty </th>
                    <th scope="col">Co chcesz zrobić? </th>
                </tr>
            </thead>
            <tbody>
                <!--Dla każdego obiektu wizyty w Modelu-->
                @foreach (var wizyta in Model)
                {
                    <tr>
                        <td>@wizyta.WizytaID</td>
                        <td>@wizyta.LekarzID</td>
                        <td>@wizyta.UserName</td>
                        <td>@wizyta.DataWizyty</td>
                        <td>
                            <a class="btn btn-secondary btn-sm" asp-controller="Wizyta" asp-action="EditWizyta" asp-route-id="@wizyta.WizytaID">Edytuj</a> |
                            <a class="btn btn-secondary btn-sm" asp-controller="Wizyta" asp-action="DetailWizyta" asp-route-id="@wizyta.WizytaID">Szczegóły</a> |
                            <a asp-controller="Wizyta" asp-action="DeleteWizyta" asp-route-id="@wizyta.WizytaID" class="btn btn-danger btn-sm"
                               onclick="return confirm('Czy na pewno chcesz usunąć wizytę: @wizyta.WizytaID ?')">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
    </html>

