@model FarulewskiKlinika.Models.Lekarz

@{
    ViewData["Title"] = "Lekarz";
}

<div>
    <h4>Lekarz</h4>
    <hr />
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>LekarzID</th>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Specjalizacja</th>
                    <th>Email</th>
                </tr>
            <tbody>
                @foreach (var item in ViewBag.LekarzeList)
                {

                    <tr>
                        <td>@item.LekarzID</td>
                        <td>@item.Imie</td>
                        <td>@item.Nazwisko</td>
                        <td>@item.Specjalizacja</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>


